/****************************
Navbar
****************************/
.navbar {
	margin-bottom: 0;
}

.navbar-header {
	margin-left: -85px !important;
}

* {
	transition: all .2s ease;
}

#menu-container {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
}

#main-menu-container {
	background-color: #204972;
	color:#ffffff;
	height:130px;
}

#sub-menu {
	background-color:#ccc;
	padding:0px;
	margin:0px;
}

.sub-menu-item {
	margin:0px -2px;
	padding:20px;
	display:inline-block;
	color:white;
	text-shadow:0px 0px 1px #000;
}

.sub-menu-item:hover {
	color:#fff;
	text-decoration:none;
}

#sub-menu-item-1 {
	background-color:#217dba; /* 10% darker than on hover */
}

#sub-menu-item-1:hover {
	background-color:#3498db;
}

#sub-menu-item-2 {
	background-color:#007184; /* 10% darker than on hover */
}

#sub-menu-item-2:hover {
	background-color:#009cb8;
}

#sub-menu-item-3 {
	background-color:#2a844a; /* 10% darker than on hover */
}

#sub-menu-item-3:hover {
	background-color:#36ab5f;
}

#sub-menu-item-4 {
	background-color:#87c115; /* 10% darker than on hover */
}

#sub-menu-item-4:hover {
	background-color:#a5e723;
}

#content {
	margin-top: 50px;
	background-color: #ccc;
	min-height: 500px; /* for demonstration */
}

/*
.navbar-toggle{
	background-color:#ddd;
}
*/

.nav>li>a{
	color:#ffffff;
	background-color: inherit;
}

.nav>li>a:hover{
	background-color: #296097;
}

.main-sub-menu-item{
	display:none;
}

#logo {
	width:160px;
	margin:20px;
	position:relative;
	top:-20px;
}

.icon-bar{
	background-color: #ffffff;
}
