/*
body {
	margin: 0;
	padding: 0;
}

body * {
	box-sizing: border-box;
	font-family: sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav .tag h1 {
	font-weight: 100;
	color: #eee;
	font-family: sans-serif;
	font-size: 24pt;
	
}

nav menu {
	
	justify-content: space-around;
	font-weight: 100;
	max-width: calc(100% - 500px);
	flex-wrap: wrap;
	
}

nav menu a {
	text-decoration: none;
	color: #eee;
	margin: 10px;
	font-size: 16pt;
	transition: all .2s ease-in-out;
	
}

nav menu a:hover {
	border-bottom: solid 1px #ffa500;
}

nav .tag {
	display: flex;
	max-width: 500px;
}
*/
.navbar {
	margin-bottom: 0;
}
/*
main {
	display: flex;
	justify-content: center;
}

main a {
	text-decoration: none;
}
*/

* {
	transition: all .2s ease;
}

.join-acm {
	padding: 50px 100px;
	
	background: #6af;
	
	color: #fff;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 5px 0px #222;
	font-size: 20pt;
	margin-left: 100px;
	margin-top: 100px;

}

.m-full {
	width: 100%;

}

#menu-container {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
}

#main-menu-container {
	background-color: #204972;
	color:#ffffff;
	height:130px;
}

#sub-menu {
	background-color:#ccc;
	padding:0px;
	margin:0px;
}

.sub-menu-item {
	margin:0px -2px;
	padding:20px;
	display:inline-block;
	color:white;
	text-shadow:0px 0px 1px #000;
}

.sub-menu-item:hover{
	color:#fff;
	text-decoration:none;
}

#content {
	margin: 50px 0px 0px 0px;
	background-color: #ccc;
	min-height: 500px; /* for demonstration */
}

/*
.navbar-toggle{
	background-color:#ddd;
}
*/

.nav>li>a{
	color:#ffffff;
	background-color: #204972;
}

.nav>li>a:hover{
	background-color: #296097;
}

.main-sub-menu-item{
	display:none;
}

#logo {
	width:160px;
	margin:20px;
	position:relative;
	top:-20px;
}

.icon-bar{
	background-color: #ffffff;
}

/*
@media screen and (max-device-width: 767px) {
	#sub-menu{
		display: none;
	}
	#main-menu{
		position: ;
	}
	.main-sub-menu-item{
		display: block;
	}
	#logo{
		width: 40px;
		margin: 5px;
		position: relative;
		top: 0px;
	}
	#content{
		margin: 50px 0px 0px 0px;
	}
	#main-menu-container{
		height: 60px;
	}
}
*/